.calendar-right-sidebar {
  width: 50px;
  border-left: rgb(218, 220, 224) 1px solid;
  overflow: hidden;

  padding: 5px 0 0 0;
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(15, minmax(0, 1fr));
  justify-items: center;
}

.calender-keep-icon,
.calender-get-add-ons-icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #4b5563;
  cursor: pointer;
}

.calender-keep-icon {
  background-color: #fbbd05;
  color: #fff;
  border-radius: 2px;
}

.calender-get-add-ons-icon:hover {
  background-color: rgb(241, 243, 244);
}
